In [ ]:
#pip install tweepy

In [ ]:
#conda update anaconda

In [1]:
import requests
import pandas as pd
import os
import re
import numpy as np
from datetime import datetime

In [6]:
import tweepy

auth = tweepy.OAuthHandler("KwPWvwjQk7xvaSEmCk5L26JlA", "xJ1sNkr3RQy9Qtv1De8wVpKhrm2788QvTY5Bdyxk9MASurWWhp")
auth.set_access_token("1010331337-5qioBLy5fmAO3GPUGY9bAqOd7K2wQ9XyIkiLGyH", "eRJKsisx9ey5CyFacyJHvk7GiNUtQq69NZ0yHOJJtS6gO")

api = tweepy.API(auth)

ModuleNotFoundError: No module named 'tweepy'

In [4]:
user = 'SplashyWhales' #elonmusk, unusual_whales, SplashyWhales
count = 200

In [5]:
#user = api.get_user(screen_name='elonmusk')
#trend = api.available_trends()
#lookup = api.lookup_users(screen_name='elonmusk')
#search = api.search_tweets(q=True)
tweets = api.user_timeline(screen_name=user, count=count, tweet_mode='extended')

NameError: name 'api' is not defined

In [ ]:
#tweets

In [ ]:
columns = ['User', 'Tweet']
data = []

In [ ]:
for tweet in tweets:
        data.append([tweet.user.screen_name, tweet.full_text])

In [ ]:
df = pd.DataFrame(data, columns=columns)

In [ ]:
#Split tweets into their own category
sub = df['Tweet'].str.split(' ', n = 5, expand = True)

In [ ]:
#sub[4]

In [ ]:
subd = {'4':[]}

In [ ]:
#Remove bracket from characters from date
for x in sub[4]:
        subd['4'].append(re.sub('[[]', "", x)) #[@,$,\D]

In [ ]:
#testd = {'date':[]}

In [ ]:
#for i in subd['4']:
#        w = datetime.strptime(i, '%d/%m/%y')errors='coerce'
#        testd['date'].append(w)

In [ ]:
#testd['date']
### subp['4']

In [ ]:
subp = {'3':[]}

In [ ]:
#Remove non numerical characters from Price
for x in sub[3]:
        subp['3'].append(re.sub('[@,$]', "", x)) #[@,$,\D]

In [ ]:
subp['3'][0:8]

In [ ]:
subc = {'1':[]}

In [ ]:
#Replace #bitcoin with $BTC
for x in sub[1]:
        subc['1'].append(re.sub('#bitcoin', "$BTC", x)) #[@,$,\D]

In [ ]:
subc['1'][0:8]

In [ ]:
suba = {'0':[]}

In [ ]:
#Remove non numerical characters from Amount
for x in sub[0]:
        suba['0'].append(re.sub("[\D]", "", x))#[^0-9]

In [ ]:
###suba['0']

In [ ]:
subs = {'Amount': [], 'Coin':[], 'Action':[], 'Price':[], 'Date':[]}

In [ ]:
subs['Amount'] = suba['0']
subs['Coin'] = subc['1']
subs['Action'] = sub[2]
subs['Price'] = subp['3']
subs['Date'] = subd['4']

In [ ]:
#Create a new dataframe
sub_df = pd.DataFrame(subs, columns=['Amount','Coin','Action','Price','Date'])

In [ ]:
#Used to filter out tweets 
filters = ('LONGED','SHORTED')

In [ ]:
#Create new filtered dataframe
sub_df_filtered = sub_df[sub_df['Action'].isin(filters)]

In [ ]:
#Convert Date to Datetime
sub_df_filtered['Date'] = pd.to_datetime(sub_df_filtered['Date'], format = '%d/%m/%y')

In [ ]:
#Convert Price to float
sub_df_filtered.loc[:,'Price'] = pd.to_numeric(sub_df_filtered['Price'],errors='coerce')

In [ ]:
#Convert Amount to int
sub_df_filtered.loc[:,'Amount'] = pd.to_numeric(sub_df_filtered['Amount'],errors='coerce')

In [ ]:
sub_df_filtered.info()

In [ ]:
sub_df_filtered

In [ ]:
#from pymongo import MongoClient

In [ ]:
#client = MongoClient()
#db = client['Twitter']
#collection = db ['sw']

In [ ]:
#sub_df_filtered.to_dict('records')

In [ ]:
#collection.insert_many(sub_df_filtered.to_dict('records'))

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
sub_df_filtered.info()

In [ ]:
sub_df_filtered.groupby(['Coin','Action'])['Price'].mean()

In [ ]:
sub_df_filtered.groupby(['Coin','Action'])['Amount'].sum()

In [ ]:
sub_df_filtered.groupby(['Coin','Action'])['Amount'].sum().unstack().plot(kind = 'bar', color = ('green','red'))

In [ ]:
sub_df_filtered.groupby(['Coin'])['Amount'].sum()